label.required::after{
    content: "*";
    color: crimson;
    font-family: 'Glyphicons Halflings';
    font-weight: bold;
    font-size: 14px;
    margin: 0 0.5em;
}

.glyph {
    font-family: 'Glyphicons Halflings';
    font-weight: bold;
    font-size: 14px;
}