<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='node_modules/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">

    <title>Fake Ensembl</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <h1>{% block main_title %}{%endblock%}</h1>
        <hr>
        {% block body %} {% endblock%}
    </div>

</body>

<footer>

</footer>

<script type="application/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/popper.js/dist/popper.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{%block scripts %}
{% endblock %}

</html>