{% extends "base.html"%}
{% set active_page = "genes" %}
{% block main_title%} Gene details {%endblock%}

{% block body %}

<div class="card">
    <div class="card-header">
        {{ gene.Ensembl_Gene_ID }}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name : {{ gene.Associated_Gene_Name }}</li>
        <li class="list-group-item">Chromosome : {{ gene.Chromosome_Name }}</li>
        <li class="list-group-item">Band : {{ gene.Band }}</li>
        <li class="list-group-item">Strand : {{ gene.Strand }}</li>
        <li class="list-group-item">Position : {{ gene.Gene_Start }} - {{ gene.Gene_End }}</li>
        <li class="list-group-item">Transcrits : {{ gene.Transcript_Count }}</li>
    </ul>
</div>

<hr>

<h2>Transcripts</h2>

<table class="table table-striped table-hover table-sm">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Biotype</th>
    </thead>
    <tbody>
        {% for transcript in transcripts %}
        <tr>
            <td>{{ transcript.Ensembl_Transcript_ID }}</a></td>
            <td>{{ transcript.Transcript_Start }}</td>
            <td>{{ transcript.Transcript_End }}</td>
            <td>{{ transcript.Transcript_Biotype }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}