{% extends "base.html"%}
{% set active_page = "new" %}
{% block main_title%} New gene {%endblock%}

{% block body %}

<center>
    <form action="" method="POST" style="max-width:500px;text-align:left">
        <div class="form-group">
            <label for="id" class="required">Ensembl ID</label>
            <div class="input-group">
            <input type="text" class="form-control" name="id" id="id" minlength=3 required>
            <div class="input-group-append" id="spinner">
                <span class="input-group-text">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
            </div>
        </div>
            <small class="form-feedback text-warning"></small>

        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" minlength=3>
            <small class="form-feedback text-warning"></small>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="chromosome" class="required">Chromosome</label>
                <input type="text" class="form-control" name="chromosome" id="chromosome" minlength=3 required>
                <small class="form-feedback text-warning"></small>
            </div>
            <div class="form-group col-md-6">
                <label for="band" class="required">Band</label>
                <input type="text" class="form-control" name="band" id="band" minlength=3 required>
                <small class="form-feedback text-warning"></small>
            </div>
        </div>


        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="start" class="required">Start</label>
                <input type="number" class="position form-control" id="start" name="start" min=0 required>
                <small class="form-feedback text-warning"></small>
            </div>
            <div class="form-group col-md-4">
                <label for="end" class="required">End</label>
                <input type="number" class="position form-control" id="end" name="end" min=0 required>
                <small class="form-feedback text-warning"></small>
            </div>
            <div class="form-group col-md-4">
                <label>Strand</label>
                <center>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="strand+" name="strand" value="1">
                        <label for="strand+" class="form-check-label"> Forward </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="strand-" name="strand" value="-1">
                        <label for="strand-" class="form-check-label"> Reverse </label>
                    </div>
                </center>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" disabled>
            Submit
        </button>
    </form>
</center>

{% endblock %}

{%block scripts%}
<script src="{{url_for('static', filename='js/form.js')}}" type="application/javascript"></script>
{%endblock%}