{% extends "base.html"%}
{% set active_page = "genes" %}
{% block main_title%} Genes list {%endblock%}


{% block body %}

<table class="table table-striped table-hover table-sm">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Del.</th>
    </thead>
    <tbody>
        {% for gene in genes %}
        <tr>
            <td><a href="{{ url_for('genes_view', gene_id=gene.id) }}"> {{ gene.id }}</a></td>
            <td>{{ gene.name }}</td>
            <td>
                <form action="{{ url_for('genes_del', gene_id=gene.id)}}" method="POST">
                    <button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}