{% extends "base.html"%}

{% block main_title%} Index {%endblock%}

{% block body %}
<div class="row">
    <div class="col-md">
        <ul>
        <li> <a href='{{ url_for("genes") }}'>Genes List</a></li>
        <li> <a href='{{ url_for("gene_new") }}'>New Gene</a></li>
    </ul>
    </div>
    <div class="col-md">
    <div class="card">
        <div class="card-header">
            <center>
                <h4 class="card-title">Schéma relationnel</h4>
            </center>
        </div>
        <img class="card-img-top" src="{{ url_for('static', filename='img/schema_relationnel.png') }}" alt="Card image cap">

    </div>
</div>
</div>

{% endblock body %}