{% set navigation_bar = [
('root', 'index', 'Home'),
('genes', 'genes', 'Genes'),
('gene_new', 'new', "Add")
] -%}

{% set active_page = active_page|default('index') -%}

<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="#">Anssamble</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for href, id, caption in navigation_bar %}
            <li {% if id==active_page %} class="nav-item active" {% else %} class="nav-item" {% endif%}>
                <a class="nav-link" href="{{ url_for(href) }}">{{ caption }}</a>
            </li>
            {% endfor %}

        </ul>
    </div>
</nav>